.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.clients-section-list {
  display: flex;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.clients-section-list-link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: border-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  &:hover,
  &:focus,
  &:hover .clients-section-list-link-logo,
  &:focus .clients-section-list-link-logo {
    border-color: #2196f3;
    fill: #2196f3;
  }
}

.clients-section-list-item {
  display: flex;

  width: 170px;
  height: 92px;
}
.clients-section-list-link-logo {
  width: 106px;
  height: 60px;
  fill: #afb1b8;

  transition-property: fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  &:hover,
  &:focus {
    fill: #2196f3;
  }
}
