.hero {
  background-color: var(--footer-and-background-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/Img.jpg);
  background-size: cover;
  max-width: 1600px;
  margin: auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;

  margin-bottom: 30px;
}



.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;

  background: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;

  text-align: center;

  border-radius: 10px;
  border: none;
  cursor: pointer;

  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  &hover,
&focus {
  background-color: #188ce8;
}
}
