:root {
  --hover-color: #2196f3;
  --title-color: #212121;
  --contacts-and-discriptions-color: #757575;
  --footer-and-background-color: #2f303a;
  --team-and-portfolio-buttoms-backgrounds: #f5f4fa;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}